*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.container{
    background-color: white;
    padding: 10px;
    border-radius: 22px;
    width: 40%;
}

#add-task-container{
    display: flex;
    gap: 6px;
}

#input-task{
    flex: 5;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 10px;
    margin-right: 2px;
}

button#add-task{
    font-size: 1.3rem;
    padding: 10px 22px;
    border-radius: 12px;
    color: green;
    border: 2px solid green;
    background-color: white;
    transition: .4s;
}

#add-task:hover{
    background-color: green;
    color: white;
}

.task li{
    list-style: none;
    flex: 3;
    display:flex;
    align-items: center;
    padding-left: 14px;
}

.task{
    display: flex;
    background-color: white;
    padding: 8px;  
    width: 40vw;
    border-radius: 20px;
    font-size: 1.4rem;
    margin: 10px;
}

#task-container{
    margin: 22px;
}

.task button{
    background-color: white;
    font-size: 1.4rem;
    padding: 12px 15px;
    border-radius: 12px;
    margin: 3px;
    transition: .4s;
}

.deleteTask{
    border: 2px solid red;
    color: red;
}

.deleteTask:hover{
    background-color: red;
    color: white;
}

.checkTask{
    border: 2px solid orange;
    color: orange;
}

.checkTask:hover{
    background-color: orange;
    color: white;
}